/* light mode */
.recharts-tooltip-content {
  background: rgba(243, 244, 246, 0.8) !important;
  border-color: rgb(107 114 128) !important;
  border-radius: 8px !important;
}
.recharts-tooltip-content .recharts-tooltip-label,
.recharts-tooltip-content .recharts-tooltip-item {
  color: rgb(21 128 61) !important;
}

/* dark mode */
.dark .recharts-tooltip-content {
  background: rgba(17, 24, 39, 0.8) !important;
  border-color: rgb(55 65 81) !important;
}
.dark .recharts-tooltip-content .recharts-tooltip-label,
.dark .recharts-tooltip-content .recharts-tooltip-item {
  color: rgb(252 165 165) !important;
}